var $newItem = $("<%=escape_javascript(render( :partial => "streams/post", :locals => { :post => @wall_post, :context => "user_wall", :render_context => "isotope", :show_dest => false } ) ) %>");

Groovesy.ClosePostPreview("single");

$("#posts_container").prepend($newItem);

var $container = $('#posts_container');
$newItem.imagesLoaded( function() {
  $container.isotope( 'reloadItems').isotope({ sortBy: 'post-date' });
});

$(".add_comment_link").bind("click", Groovesy.AddCommentClicked);

Groovesy.MakeColorbox();

$("body").find("[data-id='single'].input_box_mask").hide();
$("#wall_post_post_text").val("");