<% if !@user.nil? %>
  <%= @user.first_and_last_name %>
<% else %>
  Someone
<% end %>
 has invited you to <%= Constants::Domain %>.<br /><br />  <%= Constants::Domain %> is like Pinterest but for music.<br /><br />

Come listen to all the best tracks @
<%= link_to "http://www.#{Constants::Domain.downcase}", "http://www.#{Constants::Domain.downcase}" %><br /><br /><br /><br />

This email was sent to <%= @dest_email %>.  Click here to <%= link_to "unsubscribe", email_unsubscribe_url(@unsub_key) %> from future mailings from <%= Constants::Domain %>