<%= @to_user.first_name %>,<br /><br />

We wanted to let you know that <%= @post_user.first_and_last_name %> has posted on "<%= @wall.name %>".<br /><br />

To view the post, visit:<br />
<%= link_to post_url(@post.id), post_url(@post.id) %><br /><br />

To view the wall, visit:<br />
<%= link_to view_wall_url(@wall.slug), view_wall_url(@wall.slug) %><br /><br />

Regards,<br />
The folks at Groovesy<br /><br /><br /><br />

This email was sent to <%= @dest_email %>.  Click here to <%= link_to "unsubscribe", email_unsubscribe_url(@unsub_key) %> from future mailings from <%= Constants::Domain %>