You have requested to reset your password on Groovesy.  Please click the following link to reset your password.<br /><br />

http://<%= Rails.configuration.Domain %>/login/reset_password?guid=<%= @user.guid %>