<%= @from_user.first_and_last_name %> has requested to be added to your friends list on http://www.<%= Constants::Domain %>.<br /><br />

To confirm or deny this request, visit:<br /><br />

<a href="http://www.<%= Constants::Domain.downcase %>/friends">http://www.<%= Constants::Domain.downcase %>/friends</a><br /><br /><br /><br />

This email was sent to <%= @dest_email %>.  Click here to <%= link_to "unsubscribe", email_unsubscribe_url(@unsub_key) %> from future mailings from <%= Constants::Domain %>