<%= @from_user.first_and_last_name %> posted on your wall on Groovesy<br /><br />

To view the post, visit:<br />
<%= link_to post_url(@post.id), post_url(@post.id) %><br /><br />

This email was sent to <%= @dest_email %>.  Click here to <%= link_to "unsubscribe", email_unsubscribe_url(@unsub_key) %> from future mailings from <%= Constants::Domain %>