Hi <%= @user.first_name %>,<br /><br />

Welcome to Groovesy.  You are now a member of a special group of people sharing the best tracks.<br /><br />

Thanks for joining and have fun!<br /><br />

http://www.<%= Constants::Domain.downcase %><br /><br /><br /><br />

This email was sent to <%= @dest_email %>.  Click here to <%= link_to "unsubscribe", email_unsubscribe_url(@unsub_key) %> from future mailings from <%= Constants::Domain %>