<%= form_for :friend, :url => search_friends_url, :html => { :class => "custom" } do | f | %>
  <%= f.label :first_name, "First Name" %>
  <%= f.text_field :first_name, :class => "four" %>

  <%= f.label :last_name, "Last Name" %>
  <%= f.text_field :last_name, :class => "four" %>

  <%= f.label :email, "Email" %>
  <%= f.text_field :email, :class => "four" %>

  <%= f.submit "Submit", :class => "button" %>
<% end %>