<div class="row">
  <div class="twelve columns">

    <h1 style="width: 20%;" class="left">Friends</h1>

    <div class="friends-list-buttons right clearfix">
      <%= render :partial => "shared/find_friends_buttons" %>
    </div>

    <% if !@friends.empty? %>
      <table width="100%" class="friends-list">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @friends.each do | f | %>
            <tr>
              <td>
                <%= link_to profile_user_url(f) do %><%= render_profile_photo( f, "32x32", "friends-small-image" ) %><% end %>
                <%= link_to f.first_and_last_name, profile_user_url(f) %>
              </td>
              <td><%= f.email %></td>
              <td style="text-align: center;">
                <%= link_to "Remove", friend_url(f), :method => :delete, :confirm => "Are you sure you want to remove this friend?", :class => "small button" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p style="clear: both;">You don't have any friends yet</p>
    <% end %>
  </div>
</div>