<% content_for :title do %>
  <%= Constants::SiteName %> - Friends
<% end %>

<%= raw render_flash( flash ) %>

<%= render :partial => "friend_requests/list" %>
<%= render :partial => "friends/list" %>