<% content_for :title do %>
  <%= Constants::SiteName %> - Search Results
<% end %>

<h1>Search For Friends</h1>
<%= render :partial => "find_form" %>

<h1>Search Results</h1>

<% if !@results.empty? %>
	<table width="100%">
		<thead>
			<tr>
        <th></th>
				<th>Name</th>
				<th>Email</th>
        <th></th>
			</tr>
		</thead>

		<tbody>
			<% @results.each do | user | %>
				<tr>
          <td><%= link_to profile_user_url(user) do %><%= render_profile_photo( user, "64x64" ) %><% end %></td>
					<td><%= link_to user.first_and_last_name, profile_user_url(user) %></td>
					<td><%= link_to user.email, "mailto:#{user.email}" %></td>
          <td><%= link_to "Send Friend Request", new_friend_requests_url(user), :class => "button" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<p>No results found</p>
<% end %>