<% if notification.friend_user.present? %>
  <% person = notification.friend_user.user %>

  <%= link_to friends_url, :style => "color: #777" do %>
    <li class="clearfix<%= ' unacknowledged' if !notification.acknowledged %>">
      <%= render_profile_photo( person, "32x32" ) %>
      <%= person.first_and_last_name %> requested your friendship
      <br /><span><%= custom_time_ago_in_words(notification.created_at) %></span>
    </li>
  <% end %>
<% end %>