<% if notification.wall_post_comment.present? %>
  <% person = notification.wall_post_comment.user %>

  <%= link_to post_url(notification.wall_post_comment.wall_post_id), :style => "color: #777" do %>
    <li class="clearfix<%= ' unacknowledged' if !notification.acknowledged %>">
      <%= render_profile_photo( person, "32x32" ) %>
      <%= person.first_and_last_name %> commented on your post
      <br /><span><%= custom_time_ago_in_words(notification.created_at) %></span>
    </li>
  <% end %>
<% end %>