<%
  w = WallPost.find(notification.notifiable_id)
  if w.present?
    poster = w.poster_user
%>

  <%= link_to post_url(w.id), :style => "color: #777" do %>
    <li class="clearfix<%= ' unacknowledged' if !notification.acknowledged %>">
      <%= render_profile_photo( poster, "32x32" ) %>
      <%= poster.first_and_last_name %> posted on your stream
      <br /><span><%= custom_time_ago_in_words(notification.created_at) %></span>
    </li>
  <% end %>
<% end %>