<ul class="notifications">
  <% if notifications.size > 0 %>
    <% notifications.each do | n | %>
      <%= render :partial => "notifications/types/#{n.notification_type}", :locals => { :notification => n } %>
    <% end %>
  <% else %>
    <li class="clearfix">You don't have any notifications</li>
  <% end %>
  <li style="text-align: center; background-color: #EFEFEF; border-top: 1px solid #CCC;">
    <%= link_to "All Notifications", notifications_url %>
  </li>
</ul>