$('#notifications_list').html("<%=escape_javascript(render( :partial => "notifications/list", :locals => { :notifications => @notifications } ) ) %>");

var notif_link_pos = $("#notifications_tab").offset();

$("#notifications_list").css({'top': notif_link_pos.top + $("#notifications_tab").outerHeight(), 'left': notif_link_pos.left}).fadeIn('slow');

$.ajax({
  url: "<%= ajax_ack_notifications_url %>",
  type: "POST",
  data: { ids : "<%= @unack_list %>" },
  dataType: "script"
});