
<h1>Notifications</h1>

<% if @notifications.size > 0 %>
  <ul class="notifications">
    <% @notifications.each do | n | %>
      <%= render :partial => "notifications/types/#{n.notification_type}", :locals => { :notification => n } %>
    <% end %>
  </ul>
<% else %>
  You have no notifications
<% end %>

<% content_for :javascripts do %>
  <% if @unack_list.size > 0 %>
    <script type="text/javascript">
      $.ajax({
        url: "<%= ajax_ack_notifications_url %>",
        type: "POST",
        data: { ids : "<%= @unack_list %>" },
        dataType: "script"
      });
    </script>
  <% end %>
<% end %>