<% content_for :title do %>
  <%= Constants::SiteName %> - Edit Profile
<% end %>


<h1>Edit Profile</h1>

<%= link_to "View Profile", profile_user_url(@user), :class => "secondary button", :style => "margin-bottom: 8px;" %>

<%= raw render_flash( flash ) %>

<%= form_for @user, :url => user_path(@user), :html => { :method => :put, :multipart => true } do | f | %>

  <div class="upload clearfix">
    <label for="user_photo">Photo</label>

    <%= render_profile_photo( @user, "128x128" ) %><br />

    <%= file_field :profile, :photo %>
  </div>

  <label for="user_first_name">First Name</label>
  <%= f.text_field :first_name, :class => "four" %>

  <label for="user_last_name">Last Name</label>
  <%= f.text_field :last_name, :class => "four" %>

  <label for="user_city">City</label>
  <%= f.text_field :city, :class => "four" %>

  <label for="user_state">State</label>
  <%= f.text_field :state, :class => "four" %>

  <label for="user_email">Email</label>
  <%= f.text_field :email, :class => "four" %>

  <label for="user_password">Password</label>
  <%= f.password_field :password, :class => "four", :autocomplete => "OFF" %>

  <label for="user_password_confirmation">Confirm</label>
  <%= f.password_field :password_confirmation, :class => "four", :autocomplete => "OFF" %>

  <%= f.submit "Submit", :class => "button" %>
<% end %>


<div id="delete_account" class="clearfix">
  <%= form_for :user, :url => user_url(@user), :html => { :method => :delete } do | f | %>
    <h2>Delete Profile</h2>
    <p>This will delete your account, including all posts, comments, and likes.</p>
    <%= f.submit "Delete Profile", :class => "button", :confirm => "Are you sure you want to delete your account?" %>
  <% end %>
</div>


<% if @user.facebook_id.blank? %>
  <div class="sidebar">
    <div class="sidebar_box">
      <h1>Connect Groovesy With Facebook</h1>
      <p>Click the image below to connect Facebook with your Groovesy account.  This will allow you to login using Facebook and post to your Facebook wall.</p>
      <%= link_to image_tag("facebook_connect.png"), "https://www.facebook.com/dialog/oauth?scope=email&client_id=#{Rails.configuration.FacebookAppId}&redirect_uri=#{fb_connect_user_url(@user)}", :id => "fb_connect", :class => "clearfix" %>
    </div>
  </div>
<% end %>