<% content_for :title do %>Invite friends to <%= Constants::SiteName %><% end %>
<% content_for :description do %>Invite friends to Groovesy, a growing community of music-lovers sharing the best tracks.<% end %>

<h1>Invite Friends to <%= Constants::SiteName %></h1>

<%= raw render_flash( flash ) %>

<%= form_for :invitation, :url => send_invitation_users_path, :html => { :class => "invite" } do | f | %>
  <%= f.label :email, "Enter your friend's email" %>
  <%= f.text_field :email, :placeholder => "friend1@example.com, friend2@example.com...", :class => "eight" %>
  <%= f.submit "Send", :class => "button" %>
<% end %>