<% content_for :title do %><%= Constants::SiteName %> - Join<% end %>
<% content_for :description do %>Discover and share the best tracks at Groovesy.<% end %>

<%= raw render_flash( flash ) %>

<h1 style="margin-bottom: 0px;">Join Groovesy</h1>
<p style="margin-top: 5px; margin-bottom: 20px;">You can join Groovesy with or without your Facebook account.  If you don't want to use your Facebook account, click the "X" by your name.</p>

<div class="row">
  <div class="twelve columns">
    <iframe src="https://www.facebook.com/plugins/registration?
             client_id=<%= Rails.configuration.FacebookAppId %>&
             redirect_uri=<%= fb_register_users_url %>&
             fields=[{'name':'name', 'view':'prefilled'},{'name':'first_name'},{'name':'last_name'},{'name':'email'},{'name':'password'},{'name':'location'}]"
            scrolling="auto"
            frameborder="no"
            style="border:none"
            allowTransparency="true"
            width="100%"
            height="380">
    </iframe>
  </div>
</div>

<h1 style="margin: 20px 0px 0px 0px;">Groovesy (in a nutshell)</h1>
<div id="join_preview"><%= image_tag("join_preview.png" ) %></div>