<% content_for :title do %><%= "#{Constants::SiteName} - #{@profile.first_and_last_name}'s Streams" %><% end %>
<% content_for :description do %><%= @profile.first_and_last_name %>'s Wall.  Discover and share the best tracks on Groovesy.com<% end %>

<script type="text/javascript">
  var current_page = new Array();
  <% @wall_configs.each do | wc | %>
    var current_page_<%= wc.pinning.id %> = 0;
  <% end %>
</script>

<div class="row profile-header">
  <div class="four columns">
    <div class="row">
      <div class="twelve columns">
        <%= render_profile_photo( @profile, "128x128", "gutter-right" ) %>

        <h4><%= @profile.first_and_last_name %></h4>
        <%= raw "#{link_to("Edit Profile", edit_user_url(@profile), :style => "font-size: 14px;")}<br />" if @user.present? && @profile.is_me?(@user.id) %>
        <%= raw "#{@profile.location}<br />" if @profile.city.present? && @profile.state.present? %>
        <%= render_friend_count(@profile) %><br />
        <%= pluralize @profile.posted_posts.count, "post" %><br />
        <%= button_to "Send Friend Request", ajax_new_friend_requests_url( @profile ), { :remote => true, :class => "small button", :id => "send_friend_request_btn", :style => "margin-top: 5px;" } if !@user.nil? && @user.can_request_friendship?(@profile) %>
      </div>
    </div>

    <%= image_tag("divider_128x1.gif", :class => "divider hide-for-small") %>
  </div>
  <div class="three columns">
    <h4>Friends</h4>

    <% if @profile_friends.size > 0 %>
      <% @profile_friends[0..9].each do | profile | %>
        <%= link_to profile_user_url(profile) do %><%= render_profile_photo( profile, "32x32" ) %><% end %>
      <% end %>
    <% else %>
      <p><%= @profile.first_name %> has not friended anyone</p>
    <% end %>

    <%= image_tag("divider_128x1.gif", :class => "divider hide-for-small") %>
  </div>

  <div class="five columns">
    <h4>My Custom Walls</h4>
    <% if @profile.admin_walls.size > 0 %>
      <% @profile.admin_walls.limit(Constants::ProfileWallListLimit).each do | w | %>
        <%= link_to w.name, view_wall_url(w.slug), :style => "float: left; margin-right: 8px; margin-bottom: 8px;" %>
      <% end %>
    <% else %>
      <p><%= @profile.first_name %> hasn't created any custom walls yet</p>
    <% end %>
  </div>
</div>


<h2 style="margin-top: 15px; margin-bottom: 0px;">Streams</h2>

<div class="show-for-touch panel callout">Use two fingers to scroll &#187;</div>

<div class="mega-width">
  <% @wall_configs.each do | wc | %>
    <% if !wc.pinning.pinned_user_id.nil? %>
      <div class="stream left" id="friend<%= wc.pinning.id %>_wall">
        <%= render :partial => "streams/stream", :locals => { :wall_config => wc } %>
      </div>
    <% end %>
  <% end %>
</div>

<%= render :partial => "shared/likes_hide" %>

<% content_for :javascripts do %>
  <script type="text/javascript">
  $(document).ready(function() {
    Groovesy.MakeColorbox();
  });
  </script>
<% end %>