<div class="header">
  <h5 style="margin: 5px 0px;">Pin a Friend's Stream</h5>
  <%= text_field_tag "find_friend", {}, { :placeholder => "Enter first name, last name, or email..." } %>
</div>

<div class="hang_a_friend">
  <%= form_for @wall_pinning, :url => streams_pin_user_url, :html => { :id => "request_friend_form" } do | f | %>
    <div class="found_friend" id="found_friend"></div>
    <%= f.hidden_field :pinned_user_id %>
    <%= f.submit "Pin", :class => "button small", :disabled => true %>
  <% end %>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript">
  $(document).ready(function(){
    $( "#find_friend" ).autocomplete({
      minLength: 2,
      source: "/users/ajax_find_friend",
      select: Groovesy.FriendSelected
    });
  });
  </script>
<% end %>