<div id="post" data-id="<%= post.id %>" class="post clearfix" post-date="<%= post.created_at %>">

  <%= render :partial => "shared/post_header", :locals => { :post => post, :render_context => render_context } %>

  <div class="by_line">
    <%= render :partial => "shared/by_line", :locals => { :post => post, :show_dest => show_dest } %>
  </div>

  <%= raw process_post_text( post, "small", !@user.nil?) if Constants::ShowPosts %>

  <%= render :partial => "shared/attribution", :locals => { :post => post } if Constants::Providers.include?(post.api_provider) %>

  <div class="likes">
    <span class="like_count" data-id="<%= post.id %>">
      <%= render :partial => "shared/likes", :locals => { :post => post, :linkify => true } %>
    </span>

    <% if !@user.nil? %>
      <%= link_to "Like", streams_ajax_like_url(post), :remote => true %>
    <% end %>
  </div>

  <div class="comments">

    <% comments = post.comments.all(:limit => Constants::WallCommentsPerPage, :offset => 0) %>

    <ul data-id="<%= post.id %>" class="current_comments">
      <% comments.each do | comment | %>
        <%= render :partial => "shared/comment", :locals => { :comment => comment } %>
      <% end %>
    </ul>

    <% if !@user.nil? %>
      <div class="add_comment clearfix">
        <%= link_to "Add Comment", "javascript: void(0);", :class => "add_comment_link right", "data-id" => post.id %>
      </div>
    <% end %>

    <%= form_for :wall_post_comment, :url => streams_ajax_comment_url(post), :remote => true, :html => {"data-id" => post.id, :class => "wall_post_comment_form", :style => "display: none;" } do | f | %>
      <%= hidden_field_tag :page %>
      <%= hidden_field_tag :render_context, render_context %>
      <%= f.text_area :comment, :rows => 2 %>
      <%= f.submit "Post", :class => "small button right" %>
    <% end %>

    <% if post.comments.count > Constants::WallCommentsPerPage %>
      <div data-id="<%= post.id %>" class="show_more_comments more"><%= image_tag("downarrow.png") %></div>

      <% content_for :javascripts do %>
        <script type="text/javascript">
        $(function() {
          $("body").find("[data-id='<%= post.id %>'] .show_more_comments").bind("click", function(){
            Groovesy.ShowMoreComments(<%= post.id %>, "/streams/ajax_load_comments", "<%= render_context %>");
          });
        });
        </script>
      <% end %>
    <% end %>

  </div>
</div>