<h5 style="margin: 0px 0px 5px 0px;" class="left">Repin Post</h5>

<%= link_to image_tag("x_button_light.png"), "javascript: void(0);", :id => "repin_form_close_btn", :class => "right" %>

<%= form_for @new_post, :url => streams_ajax_post_repin_url, :remote => true do | f | %>
  <%= hidden_field_tag :repin_content, @new_post.repin_content %>

  <%= f.text_area :post_text, :value => "", :placeholder => "Enter comments...", :rows => 2 %>

  <div class="repinned_content">
    <%= raw process_post_text( @new_post, "small", !@user.nil? ) %>
  </div>

  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :poster_user_id %>
  <%= f.hidden_field :repin_parent_id %>

  <%= f.submit "Repin", :class => "small button right", :style => "margin-top: 5px;" %>
<% end %>