<div class="stream-content" data-id="<%= wall_pinning.id %>">

  <% if !@user.nil? %>
    <div class="stream-post" style="position: relative;">

      <%= form_for @wall_post, :url => streams_ajax_post_url, :remote => true, :class => "custom" do |f| %>
        <div class="input_box_mask" data-id="<%= wall_pinning.id %>"><%= image_tag "ajax-loader.gif", :style => "left: 100px;" %></div>
        <%= hidden_field_tag :wall_pinning_id, wall_pinning.id %>
        <%= f.text_area :post_text, :class => "wall_input_box", :rows => 2, "data-id" => wall_pinning.id, :placeholder => "Enter SoundCloud, YouTube, MixCloud, or Image url..." %>
        <%= f.hidden_field :user_id, :value => wall_pinning.pinned_user_id %>

        <div id="post_preview_<%= wall_pinning.id %>" class="post_preview">
          <div id="preview_ajax_loader_<%= wall_pinning.id %>" style="display: none;">Loading Track Details...<%= image_tag "ajax-loader.gif" %></div>
          <div class="small-media-container" id="post_preview_media_container_<%= wall_pinning.id %>"></div>
          <%= link_to image_tag("x_button_light.png", :alt => ""), "javascript: void(0);", { "data-id" => wall_pinning.id, :class => "post_preview_close_button", :style => "position: absolute; right: 5px; top: 5px;" } %>
        </div>

        <div class="post_bar_small small clearfix">
          <%= f.submit "Post", :class => "button post small", "data-id" => wall_pinning.id, :style => "float: right;" %>
        </div>
      <% end %>
    </div>

    <%= render :partial => "shared/provider_preview_templates" %>
  <% end %>

  <div class="stream_posts" data-id="<%= wall_pinning.id %>">
    <% posts = wall_pinning.pinned_user.recent_wall_posts(0, Constants::WallPostsPerPage) %>

    <% posts.each do | post | %>
      <%= render :partial => "streams/post", :locals => { :post => post,
                                                          :context => "user_wall",
                                                          :render_context => "stream",
                                                          :show_dest => wall_pinning.pinned_user_id != post.user_id } %>
    <% end %>

    <% if wall_pinning.pinned_user.recent_wall_posts.size > Constants::WallPostsPerPage %>
      <div data-id="<%= wall_pinning.id %>" class="show_more_posts more"><%= image_tag("downarrow.png") %></div>
    <% end %>
  </div>
</div>

<% content_for :javascripts do %>

  <script type="text/javascript">
    $(function() {
      $("body").find("[data-id='<%= wall_pinning.id %>'] .show_more_posts").bind("click", function() {
        Groovesy.ShowMorePosts(<%= wall_pinning.id %>);
      });
    });

    <% posts.each do | post | %>
    var current_comments_page_<%= post.id %> = 0;
    <% end %>

  </script>

<% end %>