
<% user = wall_config.pinning.pinned_user %>

<div class="header clearfix">

  <% if !@user.nil? && wall_config.pinning.pinned_user == @user %>
    <%= render_profile_photo( user, "64x64" ) %>
    My Stream<br />
  <% else %>
    <%= link_to profile_user_url(user) do %><%= render_profile_photo( user, "64x64", "profile-photo" ) %><% end %>

    <% if wall_config.on_your_page %>
      <%= link_to image_tag("x_button_light.png"), streams_ajax_unpin_user_url(wall_config.pinning), { :remote => true, :confirm => "Are you sure you want to unpin this friend?", :class  => "unpin" } %>
    <% end %>

    <%= link_to user.first_and_last_name, profile_user_url(user) %><br />
  <% end %>

  <%= render_friend_count(user) %><br />
  <%= pluralize user.posted_posts.count, "Post" %>
</div>

<%= render :partial => "streams/stream_body", :locals => { :wall_pinning => wall_config.pinning } %>