<% content_for :title do %><%= Constants::SiteName %> - Streams<% end %>

<script type="text/javascript">
  var current_page = new Array();
  <% @wall_configs.each do | wc | %>
    var current_page_<%= wc.pinning.id %> = 0;
  <% end %>
</script>

<%= raw render_flash( flash ) %>

<h1>Streams</h1>

<p>Streams let you view what your favorite friends are listening to.</p>

<div class="show-for-touch panel callout">Use two fingers to scroll &#187;</div>

<div class="mega-width">
  <% @wall_configs.each do | wc | %>
    <% if !wc.pinning.pinned_user_id.nil? %>
      <div class="stream left" id="friend<%= wc.pinning.id %>_wall">
        <%= render :partial => "streams/stream", :locals => { :wall_config => wc } %>
      </div>
    <% end %>
  <% end %>

  <div class="stream left" id="friend_new_wall">
    <%= render :partial => "streams/hang_a_friend" %>
  </div>
</div>

<%= render :partial => "shared/likes_hide" %>

<% content_for :javascripts do %>
  <script type="text/javascript">
  $(document).ready(function() {
    Groovesy.MakeColorbox();
  });
  </script>
<% end %>