<div class="by_line">
  <%= link_to profile_user_url(post.poster_user) do %><%= render_profile_photo( post.poster_user, "32x32" ) %><% end %>

  <%= link_to "#{post.poster_user.first_name} #{post.poster_user.last_name}", profile_user_url(post.poster_user) %>
  &nbsp;<%= custom_time_ago_in_words(post.created_at) %>
  <% if show_dest %>
    <%= link_to "posted", post_url(post.id) %> on
    <% if !post.user.nil? %>
      <% if post.user == post.poster_user %>
        their own stream:
      <% else %>
        <%= link_to "#{post.user.first_and_last_name}'s", profile_user_url(post.user) %> stream:
      <% end %>
    <% else %>
      <%= link_to post.wall.name, view_wall_url(post.wall.slug) %>:
    <% end %>
  <% else %>
    <%= link_to "posted", post_url(post.id) %>:
  <% end %>
</div>