<li data-id="<%= comment.id %>">
  <div class="by_line">
    <%= link_to profile_user_url(comment.user) do %><%= render_profile_photo( comment.user, "32x32" ) %><% end %>
    <%= link_to comment.user.first_and_last_name, profile_user_url(comment.user) %> <%= custom_time_ago_in_words(comment.created_at) %> wrote:
  </div>
  <%= raw dotted_linkify comment.comment %>
</li>