<% if @user.nil? %>
  <div class="row">
    <div class="eight columns centered">
      <div class="panel radius">
        <div class="row">
          <div class="six columns" style="font-size: 1.8em;">
            Groovesy lets you share Youtube, SoundCloud, and MixCloud tracks with friends.
          </div>

          <div class="three columns">
            <%= link_to "Join Groovesy", new_user_url(), :class => "button" %>
          </div>
          <div class="three columns">
            <%= link_to "Login", login_index_url(), :class => "button secondary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>