<% img_tag = image_tag("fb_share_button.jpg", :align => "absmiddle") %>
<% if type == :post %>
  <% if @wall_post.is_video %>
    <%= link_to_function img_tag, "Groovesy.FBRichShare('#{escape_single_quotes(@wall_post.meta_title)}', '#{link}', '#{ @wall_post.thumbnail_url }', '#{ @player_url }', '#{format_fb_share_desc(@wall_post.description)}')" %>
  <% elsif @wall_post.api_provider == "Unknown" %>
    <%= link_to_function img_tag, "Groovesy.FBShare('A post on Groovesy.com', '#{link}', '#{format_fb_share_desc(@wall_post.post_text)}')" %>
  <% else %>
    <%= link_to_function img_tag, "Groovesy.FBRichShare('A photo on Groovesy.com', '#{link}', '#{ @wall_post.thumbnail_url }', '#{ @player_url }', '#{format_fb_share_desc(@wall_post.post_text)}')" %>
  <% end %>
<% else %>
  <%= link_to_function img_tag, "Groovesy.FBShare('#{wall.name} Wall on Groovesy.com', '#{view_wall_url(wall.slug)}', '#{format_fb_share_desc(wall.description)}')" %>
<% end %>