<%= link_to_function image_tag("fb_invite_button.png"), "Groovesy.SendFBAppRequestViaMultiFriendSelector()", :id => "fb_invite_lnk", :class => "right" %>
<%= button_to "Invite a Friend", invite_users_url, :method => :get, :class => "small button right" %>
<%= button_to "Search For Friends on Groovesy", find_friends_url, :method => :get, :class => "small button right" %>
