<div class="row">
  <div class="twelve columns footer_container">

    <div class="row" style="margin: 0px;">
      <div class="four columns offset-by-eight">
        <div class="row" style="height: 24px;">
          <div class="twelve columns">
            <span style="float: right;">&nbsp;<a href="mailto:groovesymusic@gmail.com">Contact</a></span>
            <span style="float: right;"><%= link_to "Privacy Policy", "/privacy-policy" %> | </span>
          </div>
        </div>

        <div class="row">
          <div class="twelve columns" style="text-align: right;">
            <%= link_to image_tag("facebook_icon.png", :align => "absmiddle"), "https://www.facebook.com/pages/Groovesy/180123348764786?ref=hl", :target => "_blank" %>
            <%= link_to image_tag("twitter_icon.png", :align => "absmiddle"), "https://twitter.com/groovesy", :target => "_blank" %>
            @groovesy
          </div>
        </div>

        <div class="row">
          <div class="twelve columns">
            <div id="footer_fb_like" class="fb-like" data-href="http://www.groovesy.com" data-send="false" data-layout="button_count" data-show-faces="false"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>