<%= javascript_include_tag 'application' %>
<%= yield :javascripts_after_jquery %>
<%= yield :javascripts %>

<% if !@user.nil? %>
  <script type="text/javascript">
  $(document).ready(function()
  {
    $('#notifications_list').hover(function(){
      notif_mouse_is_inside = true;
    }, function(){
      notif_mouse_is_inside = false;
    });

    $("body").mouseup(function(){
      if(!notif_mouse_is_inside){
        $("#notifications_list").fadeOut("slow");
      }
    });
  });
  </script>
<% end %>