<% content_for :javascripts do %>
  <script type="text/javascript">
  $(document).ready(function()
  {
    $(document).mouseup(function (e)
    {
      var container = $("#likes_list");

      if (container.has(e.target).length === 0)
      {
        container.hide();
      }
    });

    $("body").bind( "touchend", function(e) {
      var container = $("#likes_list");

      if (container.has(e.target).length === 0)
      {
        container.hide();
      }
    });
  });
  </script>
<% end %>