<ul>
<% post.likes.each do | like | %>
  <li class="clearfix">
    <%= link_to profile_user_url(like.user) do %><%= render_profile_photo( like.user, "32x32" ) %><% end %>
    <%= link_to like.user.first_and_last_name, profile_user_url(like.user) %>
  </li>
<% end %>
</ul>