<% likes = post.likes.count %>

<% if likes > 0 && linkify %>
  <%= link_to(streams_ajax_load_likes_url(post), :remote => true) do %><%= likes %> <%= likes == 0 || likes > 1 ? "People" : "Person" %><% end %>
<% else %>
  <%= likes %> <%= likes == 0 || likes > 1 ? "People" : "Person" %>
<% end %>

<%= likes == 0 || likes > 1 ? "Like" : "Likes" %> This