<div class="row logo">
  <div class="twelve columns" style="margin: 0px; padding: 0px;">
    <div style="width: 318px; margin: 0 auto; position: relative;">
      <%= link_to image_tag("logo.png", :width => 318, :height => 77), { :controller => "content", :action => "index" }, :style => "position: absolute; top: 1px; left: 0px; z-index: 100;" %>

      <div class="hide-for-touch">
        <video id="logo_video" style="height: 77px; z-index: 0; left: 0px; position: absolute; top: 0px;" loop="loop" autobuffer autoplay >
          <source src="<%= asset_path("smoke.mp4") %>" type="video/mp4">
          <source src="<%= asset_path("smoke.ogv") %>" type="video/ogg" />
        </video>
      </div>

    </div>
  </div>
</div>