<div id="post_header_<%= post.id %>" class="post_header">
  <% if !@user.nil? %>
    <% if [post.user, post.poster_user].include? @user %>
      <%= link_to image_tag("x_button_light.png", :alt => "", :align => "absmiddle"), streams_ajax_delete_post_url(post) + "?render_context=#{render_context}", { :remote => true, :confirm => "Are you sure you want to delete this post?", :class => "right" } %>
    <% else %>
      <%= link_to image_tag('pin_icon.jpg'), streams_repin_url(post), :remote => true, :class => "right" %>
    <% end %>
  <% end %>

  <%= "#{pluralize(WallPost.repins(post).count, 'Repin')}" %>
</div>