<!-- Provider Preview Templates -->
<script id="mixcloud_tmpl" type="text/x-jquery-tmpl">
  <div class="row">
    <div class="five columns">
      <a href="${url}" target="_blank"><img src='${thumbnail_url}' /></a>
    </div>
    <div class="seven columns">
      <a href="${url}" target="_blank">${title}</a><br />
      by ${artist}<br />
      www.${provider}.com
    </div>
  </div>
</script>

<script id="soundcloud_tmpl" type="text/x-jquery-tmpl">
  <div class="row">
    <div class="five columns">
      <a href="${url}" target="_blank"><img src='${thumbnail_url}' /></a>
    </div>
    <div class="seven columns">
      <a href="${url}" target="_blank">${title}</a><br />
      by ${artist}<br />
      www.${provider}.com
    </div>
  </div>
</script>

<script id="image_tmpl" type="text/x-jquery-tmpl">
  <a href='${url}' target="_blank"><img src='${url}' border='0' width='120'/></a>
</script>

<script id="youtube_tmpl" type="text/x-jquery-tmpl">
  <div class="row">
    <div class="five columns">
      <a href="${url}" target="_blank"><img src='${thumbnail_url}' /></a>
    </div>
    <div class="seven columns">
      <a href="${url}" target="_blank">${title}</a><br />
      by ${artist}<br />
      www.${provider}.com
    </div>
  </div>
</script>