<meta property="og:title" content="Groovesy - All the best tracks" />
<meta property="og:type" content="website" />
<meta property="og:description" content="Groovesy lets you discover and share the best tracks." />
<meta property="og:url" content="http://www.groovesy.com" />
<meta property="og:image" content="http://www.groovesy.com/images/logo.jpg" />
<meta property="og:site_name" content="Groovesy.com" />
<meta property="fb:admins" content="514751105" />
<meta property="fb:app_id" content="301114093284321" />