
<label for="wall_name">*Name (Example: "Dallas Electronic Music Wall")</label>
<%= f.text_field :name %>

<label for="wall_description">Description</label>
<%= f.text_area :description, :rows => 4 %>

<label for="wall_tags">Tags (Example: dallas, electronic)</label>
<%= f.text_field :tags %>

<%= f.submit "Submit", :class => "button" %>