<% if !@user.nil? %>
  <div class="row">
    <div class="<%= columns %> columns centered">

      <div class="panel post-box" style="padding: 10px; position: relative; margin-bottom: 10px;">
        <div class="input_box_mask" data-id="single"><%= image_tag "ajax-loader.gif", :style => "left: 138px;" %></div>

        <%= form_for @wall_post, :url => post_url, :html => { :remote => true } do | f | %>

          <div class="row">
            <div class="twelve columns">
              <h4><%= header_text %></h4>
              <%= f.text_area :post_text, :cols => 20, :rows => 2, :class => "public_wall_input_box", "data-id" => "single", :placeholder => "Enter SoundCloud, YouTube, MixCloud, or Image url..." %>
              <%= f.hidden_field :wall_id %>
            </div>
          </div>

          <div id="post_preview_single" class="row post_preview">
            <div class="twelve columns">
              <div style="padding: 5px 0px 5px 0px; border-top: 1px dashed #ccc; position: relative;">
                <div id="preview_ajax_loader_single" style="display: none;">Loading Track Details...<%= image_tag "ajax-loader.gif" %></div>
                <div id="post_preview_media_container_single"></div>
                <%= link_to image_tag("x_button_light.png", :alt => ""), "javascript: void(0);", { "data-id" => "single", :class => "post_preview_close_button", :style => "position: absolute; right: 5px; top: 5px;" } %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="twelve columns">
              <div class="post_bar">
                <%= f.submit "Post", :class => "post button", "data-id" => "single" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render :partial => "shared/provider_preview_templates" %>
<% end %>