
<div id="posts_container" class="clearfix">
  <% @posts.each do | post | %>
      <%= render :partial => "streams/post", :locals => { :post => post,
                                                          :context => "user_wall",
                                                          :render_context => "isotope",
                                                          :show_dest => true } %>
  <% end %>
</div>

<%= render :partial => "shared/likes_hide" %>

<% content_for :javascripts do %>
  <script type="text/javascript">
    <% @posts.each do | post | %>
    var current_comments_page_<%= post.id %> = 0;
    <% end %>
  </script>
<% end %>