<% content_for :title do %>
  <%= Constants::SiteName %> - Edit Wall
<% end %>

<div class="row">
  <div class="ten columns centered">
    <h1>Edit Wall</h1>

    <%= raw render_flash( flash ) %>

    <%= form_for( @wall, :url => wall_url(@wall), :html => { :class => "custom" } ) do | f | %>
      <%= render :partial => "form", :locals => { :f => f } %>
    <% end %>
  </div>
</div>