<% content_for :title do %><%= Constants::SiteName %> - Your Friends<% end %>

<h1>My Friends' Posts</h1>

<% if @user.confirmed_friends.size == 0 || @posts.size == 0 %>
  Your friends haven't posted anything yet.
  <%= link_to_function image_tag("fb_invite_button.png", :align => "absmiddle"), "Groovesy.SendFBAppRequestViaMultiFriendSelector()" %>
<% else %>
  <%= render :partial => "posts" %>
<% end %>