<% content_for :title do %><%= Constants::SiteName %> - Your Wall<% end %>

<%= raw render_flash( flash ) %>

<%= render :partial => "wall/input_box", :locals => { :wall_user => @user, :post_url => wall_ajax_post_url, :header_text => "Post to Your Wall", :columns => "five" } %>

<%= render :partial => "wall/posts" %>