<div class="row">
  <div class="five columns">
    <h1>Walls I've Created</h1>
    <% if !@walls.empty? %>
      <table class="walls" width="100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Members</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
        <% @walls.each do | w | %>
          <tr>
            <td><%= link_to w.name, view_wall_url(w.slug) %></td>
            <td><%= w.wall_users.size %></td>
            <td><%= link_to "Edit", edit_wall_url(w) %></td>
            <td><%= link_to "Delete Wall", wall_url(w), :method => :delete, :confirm => "Are you sure you want to remove this wall?  This will remove all posts and comments." %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <p>You have not created any custom walls.</p>
    <% end %>
    <%= button_to "Create a Custom Wall", new_wall_url, :class => "button", :method => :get %>
  </div>


  <div class="six columns offset-by-one">
    <h1>Wall Subscriptions</h1>
    <% if !@user.member_walls.empty? %>
      <table class="walls" width="100%">
        <thead>
        <tr>
          <th>Name</th>
          <th>Members</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @user.member_walls.each do | w | %>
          <tr>
            <td><%= link_to w.name, view_wall_url(w.slug) %></td>
            <td><%= w.wall_users.size %></td>
            <td><%= link_to "Unsubscribe", wall_unsubscribe_url(w), :confirm => "Are you sure you want to unsubscribe from this wall?" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <p>Wall subscriptions allow you to follow updates to walls.  Keep up with what's going on with your favorite
        band, city, or venue.
      </p>
      <p><em>You are not subscribed to any walls.  To subscribe, visit a wall and click Subscribe.</em></p>
    <% end %>


    <h1>Walls to Subscribe To</h1>
    <% if !@random_walls.empty? %>
      <table width="100%">
        <thead>
        <tr>
          <th>Name</th>
          <th>Tags</th>
        </tr>
        </thead>

        <tbody>
        <% @random_walls.each do | w | %>
          <tr>
            <td><%= link_to w.name, view_wall_url(w.slug) %></td>
            <td><%= raw render_tags(w.tags) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <p>Wow, there are no walls yet.  Be the first to <%= link_to "Create One", new_wall_url %>.</p>
    <% end %>
  </div>
</div>