<% content_for :title do %>
  <%= Constants::SiteName %> - Create a Custom Wall
<% end %>

<div class="page_form clearfix">
  <h1>Create a Custom Wall</h1>

  <p style="margin-bottom: 20px;">Got a band?  Live in a cool city?  Love Hardcore?  Be one of the first people to start a wall to promote your favorite music.</p>

  <%= raw render_flash( flash ) %>

  <%= form_for( @wall, :url => wall_index_url, :html => { :class => "new_wall" } ) do | f | %>
    <%= render :partial => "form", :locals => { :f => f } %>
  <% end %>
</div>