<% content_for :title do %><%= Constants::SiteName %> - Walls Tagged "<%= params[:tag] %>"<% end %>

<h1>Walls tagged: "<%= params[:tag] %>"</h1>
<% if !@walls.empty? %>
  <table width="100%" class="wall-search-list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Tags</th>
        <th align="center">Members</th>
      </tr>
    </thead>

    <tbody>
      <% @walls.each do | w | %>
        <tr>
          <td><%= link_to w.name, view_wall_url(w.slug) %></td>
          <td><%= w.description.size > 75 ? w.description[0..75] + "..." : w.description %></td>
          <td><%= raw render_tags(w.tags) %></td>
          <td align="center"><%= w.wall_users.size %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  No walls match the tag you entered
<% end %>
