<% content_for :title do %><%= Constants::SiteName %> - Wall - <%= @wall.name %><% end %>
<% content_for :description do %><%= @wall.description %>.<% end %>

<%= raw render_flash( flash ) %>

<div class="row groovesy-panel" style="margin: 0px;">

  <div class="three columns" style="padding: 10px;">

    <div class="row">
      <div class="three columns">
        Tags:
      </div>
      <div class="nine columns">
        <%= raw render_tags(@wall.tags) %>
      </div>
    </div>

    <div class="row" style="margin-top: 8px;">
      <div class="three columns">
        Admin:
      </div>
      <div class="nine columns">
        <%= link_to @wall.admin.first_and_last_name, profile_user_url(@wall.admin) %>
      </div>
    </div>
  </div>

  <div class="seven columns wall-view-header" style="padding: 10px;">
    <h1 style="margin: 0px;"><%= @wall.name %></h1>

    <% if @wall.description.present? %>
      <p><%= @wall.description %></p>
    <% end %>

    <%= render :partial => "wall/input_box", :locals => { :wall_user => @user, :post_url => wall_ajax_public_post_url, :header_text => "Post to #{@wall.name}", :columns => "nine" } %>

    <%#= link_to_function image_tag("fb_share_button.jpg"), "Groovesy.FBShare('#{@wall.name} on Groovesy.com', '#{view_wall_url(@wall.slug)}', '#{@wall.description}')", :id => "fb_share_button" %>
  </div>

  <div class="two columns" style="padding: 10px;">
    <% if !@user.nil? %>
      <div class="right">
        <% if !@user.member_of?(@wall) %>
          <%= button_to "Subscribe To this Wall", wall_ajax_subscribe_url(@wall), :remote => true, :class => "small button" %>
        <% else %>
          <%= button_to "Unsubscribe", wall_ajax_unsubscribe_url(@wall), :remote => true, :class => "small button" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="row" style="margin-bottom: 10px;">
  <div class="twelve columns">

    <div class="shadow clearfix" style="background-color: #EFEFEF; padding: 5px;">

      <%= submit_tag "Share", :id => "share_post", :class => "small button right" %>

      <div id="links" class="hide">
        <%= link_to image_tag("x_button_light.png", :alt => ""), "javascript: void();", { :id => "close_button", :class => "right" } %>
        <ul>
          <li><label for="url" style="padding-top: 4px;">Direct Link:</label> <%= text_field_tag :url, "#{view_wall_url(@wall.slug)}", :onclick => "$('#url').select();" %></li>
          <li>
            <label>Facebook:</label>
            <%= render :partial => "shared/fb_share_button", :locals => { :type => :wall, :wall => @wall } %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<% cache [@wall, "posts"] do %>
  <div class="row">
    <div class="twelve columns">
      <div id="posts_container" class="clearfix">
        <% @posts.each do | post | %>
          <%= render :partial => "streams/post", :locals => { :post => post, :context => "public_wall", :render_context => "isotope", :show_dest => false } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% content_for :right_sidebar do %>
  <% cache [@wall, "members"] do %>
    <div id="wall_members" class="groovesy-panel">
      <h3>Wall Members</h3>
      <div class="clearfix">
        <% @wall.wall_users.each do | user | %>
          <%= link_to profile_user_url(user, :alt => user.first_and_last_name) do %><%= render_profile_photo( user, "32x32" ) %><% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<%= render :partial => "shared/likes_hide" %>

<% content_for :javascripts do %>
  <script type="text/javascript">
    <% @posts.each do | post | %>
    var current_comments_page_<%= post.id %> = 0;
    <% end %>
  </script>
<% end %>