<% @comments.each do | comment | %>
  $("body").find("[data-id='<%= @post.id %>'] .current_comments").append("<%=escape_javascript(render( :partial => "shared/comment", :locals => { :comment => comment } ) ) %>");
<% end %>

<% max_posts = params[:context] == "single_post" ? Constants::SinglePostCommentsPerPage : Constants::WallCommentsPerPage %>
<% if ( params["page"].to_i * max_posts ) + max_posts >= @post.comments.count %>
  $("body").find("[data-id='<%= @post.id %>'] .show_more_comments").hide();
<% end %>

if($("body").attr("data-type") == "isotope") {
  Groovesy.ReIsotope("post");
}