$("body").find("[data-id='<%= @wall_pinning_id %>'] .stream_posts").prepend("<%=escape_javascript(render( :partial => "streams/post", :locals => { :post => @wall_post, :context => "user_wall", :render_context => "stream", :show_dest => false } ) ) %>");

Groovesy.ClosePostPreview("<%= @wall_pinning_id %>");

$("body").find("[data-id='<%= @wall_post.id %>'] .add_comment_link").bind("click", Groovesy.AddCommentClicked);

Groovesy.MakeColorbox();

$("body").find("[data-id='<%= @wall_pinning_id %>'] .input_box_mask").hide();
$("body").find("[data-id='<%= @wall_pinning_id %>'] .wall_input_box").val("");