$('#repin_form').html("<%=escape_javascript(render( :partial => "streams/repin_form" ) ) %>");
$("#repin_form").css({'top': mouseY, 'left': mouseX}).fadeIn('slow');
$("#repin_form_close_btn").bind("click", Groovesy.CloseRepinForm);

Groovesy.MakeColorbox();

<% if @new_post.is_youtube? %>
  Groovesy.GetYoutubeDetails(0, "<%= UrlParsers::Youtube.get_id(@new_post.first_url) %>");
<% end %>
