
<% @posts.each do | post | %>
  $("body").find("[data-id='<%= @wall_pinning.id %>'] .show_more_posts").before("<%=escape_javascript(render( :partial => "streams/post", :locals => { :post => post, :context => "user_wall", :render_context => "stream", :show_dest => @wall_pinning.pinned_user_id != post.user_id } ) ) %>");

  <% if post.comments.count > Constants::WallCommentsPerPage %>
    var current_comments_page_<%= post.id %> = 0;

    $("body").find("[data-id='<%= post.id %>'] .show_more_comments").bind("click", function(){
      Groovesy.ShowMoreComments(<%= post.id %>, "/streams/ajax_load_comments", "user_wall");
    });
  <% end %>
<% end %>

Groovesy.MakeColorbox();

<% if ( params["page"].to_i * Constants::WallPostsPerPage ) + Constants::WallPostsPerPage >= @wall_pinning.pinned_user.recent_wall_posts.count %>
  $("body").find("[data-id='<%= @wall_pinning.id %>'] .show_more_posts").hide();
<% end %>

$(".add_comment_link").bind("click", Groovesy.AddCommentClicked);