$("body").find("[data-id='<%= @post.id %>'] .current_comments").append("<%=escape_javascript(render( :partial => "shared/comment", :locals => { :comment => @comment } ) ) %>");

$("body").find("[data-id='<%= @post.id %>'] .wall_post_comment_form").hide();

$("body").find("[data-id='<%= @post.id %>'] .add_comment_link").show();

<% max_posts = params[:context] == "single_post" ? Constants::SinglePostCommentsPerPage : Constants::WallCommentsPerPage %>
<% if ( params["page"].to_i * max_posts ) + max_posts < @post.comments.count %>
  $("body").find("[data-id='<%= @post.id %>'] .show_more_comments").show();
<% end %>

if($("body").attr("data-type") == "isotope") {
  Groovesy.ReIsotope("post");
}

$("body").find("[data-id='<%= @comment.id %>']").stop().css("background-color", "#F7F7F7").animate({ backgroundColor: "#dcdcdc"}, 500).animate({ backgroundColor: "#F7F7F7"}, 500);