<% if params[:render_context] == "stream" %>
  $("body").find("[data-id='<%= @post_id %>']").fadeOut("slow");
<% elsif params[:render_context] == "single_post" %>
  $("#post").replaceWith("The post was deleted");
<% else %>
  $("#posts_container").isotope( 'remove', $("#posts_container").find("[data-id='<%= @post_id %>']"), null );
<% end %>