<% likes = @post.likes.size %>

$("body").find("[data-id='<%= @post.id %>'] .like_count").html("<%=escape_javascript(render( :partial => "shared/likes", :locals => { :post => @post, :linkify => true } ) ) %>");
$("body").find("[data-id='<%= @post.id %>'].like_count_modal").html("<%=escape_javascript(render( :partial => "shared/likes", :locals => { :post => @post, :linkify => false } ) ) %>");

$("body").find("[data-id='<%= @post.id %>'].colorboxvid").attr("like-html", "<%= raw @post.modal_link_text(@user.present?).gsub("\"", "\\\"") %>");