<%= content_for :title do %>Login to <%= Constants::SiteName %><% end %>
<%= content_for :description do %>Discover and share the best tracks on Groovesy.com<% end %>

<div class="groovesy-panel panel-padding">
  <h1>Groovesy Login</h1>
  <p>Login using Groovesy</p>

  <%= raw render_flash( flash ) %>

  <%= form_for :login, :url => login_index_path, :html => { :class => "custom" } do | f | %>

    <div class="row">
      <div class="two columns">
        <label for="login_email2">Email</label>
      </div>
      <div class="ten columns">
        <%= f.text_field :email, { :value => params[ :email ], :id => "login_email2", :class => "four" } %>
      </div>
    </div>

    <div class="row">
      <div class="two columns">
        <label for="login_password2">Password</label>
      </div>
      <div class="ten columns">
        <%= f.password_field :password, { :value => params[ :password ], :id => "login_password2", :class => "four" } %>
      </div>
    </div>

    <div class="row" style="height: 34px;">
      <div class="twelve columns">
        <label for="login_remember_me">
          <%= f.check_box :remember_me, { :checked => "checked", :style => "display: none;" }, true, true %>
          <span class="custom checkbox checked"></span>
          Remember Me
        </label>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <%= f.submit "Submit", :class => "button left", :style => "margin-bottom: 10px; margin-right: 10px;" %>

        <div class="left">
          <%= link_to "Forgot Password", retrieve_password_login_index_url %><br />
          <%= link_to "Register", new_user_url %>
        </div>
      </div>
    </div>
  <% end %>


  <div class="row" style="border-top: 1px dashed #CCC;">
    <div class="twelve columns">
      <h1>Facebook Login</h1>
      <p>Note: Your account must be linked with Facebook first</p>
      <%= link_to_function image_tag("fb_login.png"), "FacebookLogin()" %>
    </div>
  </div>

  <script type="text/javascript">
    function FacebookLogin(){
      window.location = "https://www.facebook.com/dialog/oauth?scope=email&client_id=<%= Rails.configuration.FacebookAppId %>&redirect_uri=<%= fb_login_login_index_url %>";
    }
  </script>
</div>