<% content_for :title do %>Reset Your Password<% end %>

<%= raw render_flash(flash) %>

<% if !@user.nil? %>

  <div class="page_form clearfix">
    <h1>Reset Your Password</h1>
    <p>Use the form below to reset your password</p>

    <%= form_tag( save_password_login_index_url, { :method => "post", :class => "reset_password" } ) do %>

      <p>
        <label for="password">Password:</label>
        <%= password_field :user, :password %>
      </p>

      <p>
        <label for="password_confirmation">Password confirm:</label>
        <%= password_field :user, :password_confirmation %>
      </p>

      <%= hidden_field_tag "guid", params[:guid] %>

      <p><%= submit_tag "Send", :class => "submit_button" %></p>
    <% end %>
  </div>
<% end %>