<% content_for :title do %>Retrieve Your Password<% end %>

<%= raw render_flash(flash) %>

<h1>Retrieve Your Password</h1>

<p>Enter your email to retrieve your password.</p>

<%= form_tag( mail_guid_login_index_url, { :method => "post" } ) do %>
  <div class="row">
    <div class="two columns">
      <label for="email">Email:</label>
    </div>
    <div class="ten columns">
      <%= text_field_tag :email, params[:email] %>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <%= submit_tag "Send", :class => "button" %>
    </div>
  </div>
<% end %>
