<div class="row">
  <div class="twelve columns">

    <h1>Friend Requests</h1>

    <% if !@requests.empty? %>
      <table width="100%" class="friends-list">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @requests.each do | r | %>
            <tr>
              <td>
                <%= link_to profile_user_url(r.user) do %><%= render_profile_photo( r.user, "32x32", "friends-small-image" ) %><% end %>
                <%= link_to r.user.first_and_last_name, profile_user_url(r.user) %>
              </td>
              <td><%= r.user.email %></td>
              <td><%= button_to "Confirm", friend_requests_update_url(r, "confirm"), :class => "small button" %></td>
              <td><%= button_to "Deny", friend_requests_update_url(r, "deny"), :confirm => "Are you sure you want to deny this friend request?", :class => "small button" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      You have no friend requests yet
    <% end %>
  </div>
</div>