<% content_for :title do %>
  <%= @wall_post.meta_title if !@wall_post.nil? %>
<% end %>

<% if @wall_post.nil? %>
  <div id="flashNotice">
    This post was deleted by the admin
    <%= link_to "Back", :back %>
  </div>
<% else %>

  <%= render :partial => "shared/likes_hide" %>

  <div class="row">
    <div class="six columns centered">
      <div class="panel callout">
        <%= submit_tag "Share", :id => "share_post", :class => "button" %>

        <div id="links" style="display: none;">
          <%= link_to image_tag("x_button_light.png", :alt => ""), "javascript: void();", { :id => "close_button", :class => "right" } %>
          <ul>
            <li><label for="url">Direct Link:</label> <%= text_field_tag :url, "http://#{request.host}#{request.fullpath}", :onclick => "$('#url').select();" %></li>
            <li>
              <label>Facebook:</label>
              <%= render :partial => "shared/fb_share_button", :locals => { :type => :post, :link => "http://#{request.host}#{request.fullpath}" } %>
              <!--<div id="single_post_fb_like" class="fb-like" data-href="<%= "http://#{request.host}#{request.fullpath}" %>" data-send="false" data-layout="button_count" data-width="175" data-show-faces="false"></div>-->
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <% if @wall_post.is_video %>
    <div class="row">
      <div class="six columns centered">
        <div class="panel post_detail_box">
          <h4 style="margin-top: 0px;"><%= link_to @wall_post.meta_title, @wall_post.first_url, :target => "_blank" %></h4>
          <p><%= @wall_post.description %></p>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="six columns centered">

      <div id="post" data-id="<%= @wall_post.id %>" class="single_post clearfix" post-date="<%= @wall_post.created_at %>">

        <%= render :partial => "shared/post_header", :locals => { :post => @wall_post, :render_context => "single_post" } %>

        <div class="by_line">
          <%= render :partial => "shared/by_line", :locals => { :post => @wall_post, :show_dest => true } %>
        </div>

        <%= raw process_post_text( @wall_post, "medium", !@user.nil?) if Constants::ShowPosts %>

        <%= render :partial => "shared/attribution", :locals => { :post => @wall_post } if Constants::Providers.include?(@wall_post.api_provider) %>

        <% comment_count = @wall_post.total_repin_comments %>

        <div class="likes">
          <span style="float: left;"><%= pluralize(comment_count, "Comment") %></span>

          <span class="like_count" data-id="<%= @wall_post.id %>">
            <%= render :partial => "shared/likes", :locals => { :post => @wall_post, :linkify => true } %>
          </span>

          <% if !@user.nil? %>
            <%= link_to "Like", streams_ajax_like_url(@wall_post), :remote => true %>
          <% end %>
        </div>

        <div class="comments">

          <ul data-id="<%= @wall_post.id %>" class="current_comments">
            <% repin_comments = @wall_post.repin_comments(0, Constants::SinglePostCommentsPerPage) %>
            <% repin_comments.each do | comment | %>
              <%= render :partial => "shared/comment", :locals => { :comment => comment } %>
            <% end %>
          </ul>

          <% if !@user.nil? %>
            <div class="add_comment clearfix">
              <%= link_to "Add Comment", "javascript: void(0);", "data-id" => @wall_post.id, :class => "add_comment_link right" %>
            </div>
          <% end %>

          <%= form_for :wall_post_comment, :url => streams_ajax_comment_url(@wall_post), :remote => true, :html => {"data-id" => @wall_post.id, :class => "wall_post_comment_form", :style => "display: none;" } do | f | %>
            <%= hidden_field_tag :page %>
            <%= hidden_field_tag :context, "single_post" %>
            <%= f.text_area :comment, :class => "comment", :rows => 3 %>
            <%= f.submit "Post", :class => "button right" %>
          <% end %>

          <% if @wall_post.comments.count > Constants::SinglePostCommentsPerPage %>
            <div data-id="<%= @wall_post.id %>" class="show_more_comments more"><%= image_tag("downarrow.png") %></div>

            <% content_for :javascripts do %>
              <script type="text/javascript">
              $(function() {
                $("body").find("[data-id='<%= @wall_post.id %>'] .show_more_comments").bind("click", function(){
                  Groovesy.ShowMoreComments(<%= @wall_post.id %>, "/streams/ajax_load_comments", "single_post");
                });
              });
              </script>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% content_for :javascripts do %>
    <script type="text/javascript">
      var current_comments_page_<%= @wall_post.id %> = 0;
      $(document).ready(function() {
        Groovesy.MakeColorbox();
      });
    </script>
  <% end %>
<% end %>