@import "compass/css3/images";
@import "compass/css3/box-shadow";

body{ background: url('very-light-grey-noise.jpg') repeat; }

a:hover{ text-decoration: underline; }

table tbody tr:nth-child(even) { background: #f6f6f6; }
table thead tr th, table tfoot tr td { color: #666; }
table thead, table tfoot { background: #e2e2e2; }

.button{ font-weight: normal; }
.button:hover{ text-decoration: none; }

.mega-width{ width: 2000px; }

.gutter-right{ margin-right: 10px }

span.like_count_modal{ color: #CCC; }
a.modal{ color: #FFF; }

.profile-header img.divider{ display: inline; height: 128px; right: 0px; top: 0px; position: absolute; }

img.friends-small-image{ max-width: 32px; margin-right: 4px; }

#fr_count, #notif_count{ background-color: #005bb0; margin-left: 4px; padding: 0px 4px 0px 4px; color: #FFFFFF; }

div.logo{ background-color: #111; height: 77px; }
.likes_list{ border: 1px solid #AAA; background-color: #EFEFEF; padding: 5px 5px 0px 5px; position: absolute; z-index: 1000; @include box-shadow(#AAAAAA 2px 2px 2px); }
.likes_list ul{ padding: 0px; margin: 0px; }
.likes_list ul li{ margin-bottom: 3px; min-height: 32px; }
.likes_list ul li:nth-child(2n+1){ background-color: #FFF; }
.likes_list img{ margin-right: 4px; }
.like_count_modal { color: white; }

.footer_container{ border-top: 2px solid #000; color: #CCC; padding: 10px; background-color: #3d3c3d; margin-top: 10px; @include background-image(linear-gradient(#555454, #3d3c3d)); }
.footer_container a{ color: #CCC; }
#footer_fb_like{ float: right; margin-top: 10px; }

div.post, div.single_post{ border: 1px solid #CCC; background-color: #FFF; @include box-shadow(#CCCCCC 2px 2px 2px); }
div.post{ padding: 3px; width: 230px; margin: 0px 10px 10px 0px; }
div.single_post{ padding: 4px; margin: 0px auto;  }

.post_header{ font-size: 95%; color: #CCC; height: 19px; margin-bottom: 2px; padding: 2px; background-color: #333; @include background-image(linear-gradient(#333333, #555555)); }
.post_header a{ text-decoration: none; }

.post_detail_box{ background-color: #FFF; border: 1px solid #CCC; }
.post_detail_box label { font-weight: bold; }

.callout label{ color: #EFEFEF; }
.callout ul { list-style-type: none; }

.by_line{ font-size: 95%; margin-bottom: 5px; min-height: 32px; line-height: 1.4; }
.by_line img{ margin-right: 4px; align: left; }

#delete_account{ margin-top: 20px; border-top: 1px dashed #CCC; padding-top: 14px; }

#links ul{ list-style-type: none; }

.upload{ margin-bottom: 10px; }

.site_attribution{ background-color: #000; color: #EFEFEF; padding: 2px; text-align: right; font-size: 95%; }
.site_attribution img{ align: absmiddle; }

.likes{ font-size: 95%; border-top: 1px solid #EFEFEF; margin-top: 8px; padding-top: 4px; text-align: right; padding-bottom: 4px; }
.add_comment{ border-top: 1px solid #EFEFEF; padding-top: 4px; }

.comments a{ font-size: 95%; }
.comments ul { background-color: #F7F7F7;}
.comments ul li{ padding: 8px 0px 8px 3px; border-top: 2px solid #CCCCCC; }
.comments form{ margin-top: 5px; }

.vid_title, .vid_title_medium{ text-align: left; width: 210px; padding: 4px 4px 0px 4px; position: absolute; top: 0; left: 0; color: #FFF; text-decoration: none; text-shadow: #000000 0.1em 0.1em 0.1em; font-size: 95%; }
.vid_title_medium{ width: 430px; }

#corner_nav{ position: absolute; right: 8px; top: 8px; }
#corner_nav a{ color: #8B94B5; }

.panel{ border: 1px solid #CCC; }

nav.top-bar a:hover{ text-decoration: none; }
nav.top-bar{ font-family: 'Raleway', sans-serif; width: 600px; }
nav.top-bar ul > li.has-dropdown .dropdown li a { font-weight: bolder; font-size: 1em; }
/*nav.top-bar li a.active{ margin-top: -4px; }*/
.show-for-touch li a{ font-weight: bolder; font-size: 18px; }

a#streams_tab{ color: #857c9d; }
a#friends_tab{ color: #bb8ca2; }
a#notifications_tab{ color: #8b94b5; }
a#walls_tab{ color: #DFF9BB; }
a#login_tab{ color: #857c9d; }
img.nav_slash{ float: right; position: absolute; right: -10px; top: 5px; padding-top: 7px; }

.input_box_mask{ display: none; width: 100%; height: 100%; background-color: #FFFFFF; position: absolute; left: 0px; top: 0px; filter: alpha(opacity=70); opacity: 0.7; }
.post_preview{ position: relative; clear: both; display: none; text-align: left; }
.post-box h4{ margin: 0; }
.post_bar, .post_bar_small{ background-color: #DEDEDE; padding: 5px; text-align: right; border: 1px solid #CCC; }
.post_bar_small { margin-top: 5px; }

.stream { width: 244px; @include box-shadow(#DDDDDD 1px 1px 1px); border: 1px solid #CCC; margin: 10px 10px 10px 0px; }
.stream div.header, .stream div.pin_a_friend_header{ background-color: #FFF; padding: 5px; border-bottom: 1px solid #CCC; }
.stream .unpin{ float: right; }
.stream .unpinned{ background-color: #FFF; padding: 4px; font-size: 14px; }
.stream div.header img.profile-photo{ margin-right: 5px; }
.stream-content{ background-color: #EFEFEF; padding: 5px; }
.small-media-container .seven, .small-media-container a{ font-size: 90% }

.hang_a_friend{ background-color: #FFFFFF; padding: 5px; text-align: right; }
.found_friend{ min-height: 25px; margin-bottom: 5px; border: 1px solid #8DCD33; background-color: #e1f5c5; color: #65ab03; padding: 4px; display: none; }
.found_friend span{ float: left; }
.found_friend div{ height: 15px; width: 15px; background: url('x_button_light.png') no-repeat; cursor: pointer; float: right; }

.stream-post{ margin-bottom: 5px; padding: 5px; background-color: #afb6d4; }
.stream-post form, .hang_a_friend form{ margin-bottom: 0px; }

.current_comments { list-style-type: none; }

div.more{ text-align: center; cursor: pointer; margin-top: 8px; color: #777777; padding: 4px; font-size: 12px; border: 1px solid #AAA; background-color: #CCC; }

.repin_form{ width: 239px; border: 1px solid #CCC; background-color: #FFF; padding: 5px; position: absolute; z-index: 1000; @include box-shadow(#CCCCCC 2px 2px 2px); }
.repin_form textarea{ margin-bottom: 5px; }

.friends-list-buttons{ width: 75%; padding-top: 30px; }
.friends-list-buttons .button{ margin-right: 10px; }
.friends-list-buttons form{ margin-bottom: 0px; }

.notifications_list{ border: 1px solid #CCC; background-color: #EFEFEF; position: absolute; z-index: 1000; @include box-shadow(#CCCCCC 2px 2px 2px); min-width: 300px; }
ul.notifications{ list-style-type: none; margin-bottom: 0px; padding: 5px 5px 0px 5px; }
ul.notifications li{ margin-bottom: 1px; padding: 4px; background-color: #F7F7F7; }
ul.notifications ul a{ text-decoration: none; }
ul.notifications img{ margin-right: 4px; }
ul.notifications ul li.unacknowledged{ background-color: #B9C1DF; }
ul.notifications li:hover{ background-color: #005bb0; cursor: pointer; color: #FFF; }
ul.notifications a:hover{ text-decoration: none; }
ul.notifications li span{ font-size: 90%; }

.alert-box .success a{ text-shadow: none; }

.profile-header{ background-color: #FFF; padding: 5px; border: 1px solid #CCC; min-height: 128px; }
.profile-header h4{ margin: 0px; }

.wall-view-header{ text-align: center; }

.groovesy-panel{ background-color: #FFF; @include box-shadow(#CCCCCC 0px 0px 4px); }
.panel-padding{ padding: 10px; }
.shadow{ @include box-shadow(#CCCCCC 0px 0px 4px); }

#new_members img{ margin-right: 10px; }
#wall_members, #new_members{ border: 1px solid #CCC; padding: 5px; }
#wall_members div, #new_members div{ margin-bottom: 8px; }
#wall_members h3, #new_members h2{ border-bottom: 1px solid #CCC; }

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}

.clearfix{ display: inline-block; }

  /* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
  /* End hide from IE-mac */

@media only screen and (max-width: 767px) {
  table.friends-list th,table.friends-list td, table.wall-search-list th, table.wall-search-list td { padding: 2px 3px; }
  .friends-list-buttons{ padding-top: 0px; }
}
