<div id="post" data-id="<%= post.id %>" class="post clearfix" post-date="<%= post.created_at %>">

  <%= render :partial => "shared/post_header", :locals => { :post => post, :render_context => "isotope" } %>
  <%= render :partial => "shared/by_line", :locals => { :post => post, :show_dest => true } %>

  <%= raw process_post_text(post, "small", !@user.nil?) if Constants::ShowPosts %>

  <%= render :partial => "shared/attribution", :locals => { :post => post } if Constants::Providers.include?(post.api_provider) %>

  <% comment_count = post.total_repin_comments %>

  <div class="likes">
    <span style="float: left;"><%= pluralize(comment_count, "Comment") %></span>
    <span class="like_count" id='like_count_<%= post.id %>'>
      <%= render :partial => "shared/likes", :locals => { :post => post, :linkify => true } %>
    </span>
    <% if !@user.nil? %>
      <%= link_to "Like", streams_ajax_like_url(post), :remote => true %>
    <% end %>
  </div>

  <div class="comments">

    <ul data-id="<%= post.id %>"  class="current_comments">
      <% repin_comments = post.repin_comments %>
      <% repin_comments.each do | comment | %>
        <%= render :partial => "shared/comment", :locals => { :comment => comment } %>
      <% end %>
    </ul>

    <% if !@user.nil? %>
      <div class="add_comment clearfix">
        <%= link_to "Add Comment", "javascript: void(0);", "data-id" => post.id, :class => "add_comment_link", :style => "float: right;" %>
      </div>
    <% end %>

    <%= form_for :wall_post_comment, :url => content_ajax_comment_url(post), :remote => true, :html => {"data-id" => post.id, :class => "wall_post_comment_form clearfix", :style => "display: none;" } do | f | %>
      <%= hidden_field_tag :page %>
      <%= f.text_area :comment, :class => "comment" %>
      <%= f.submit "Post", :class => "submit_button" %>
    <% end %>

    <% if post.total_repin_comments > Constants::WallCommentsPerPage %>
      <div data-id="<%= post.id %>" class="show_more_comments more"><%= image_tag("downarrow.png") %></div>

      <% content_for :javascripts do %>
        <script type="text/javascript">
        $(function() {
          $("body").find("[data-id='<%= post.id %>'] .show_more_comments").bind("click", function(){
            Groovesy.ShowMoreComments(<%= post.id %>, "/content/ajax_load_comments", "public_wall");
          });
        });
        </script>
      <% end %>
    <% end %>

  </div>

</div>