<% @comments.each do | comment | %>
$("body").find("[data-id='<%= @post.id %>'] .current_comments").append("<%=escape_javascript(render( :partial => "shared/comment", :locals => { :comment => comment } ) ) %>");
<% end %>

<% if( params["page"].to_i * Constants::WallCommentsPerPage ) + Constants::WallCommentsPerPage >= @post.total_repin_comments %>
$("body").find("[data-id='<%= @post.id %>'] .show_more_comments").hide();
<% end %>

if($("body").attr("data-type") == "isotope") {
  Groovesy.ReIsotope("post");
}