<% content_for :title do %><%= Constants::SiteName %> - All the best tracks<% end %>
<% content_for :description do %>Discover and share the best tracks on Groovesy.com.<% end %>

<%= raw render_flash( flash ) %>

<div id="posts_container">
  <% @posts.each do | post | %>
    <%= render :partial => "post", :locals => { :post => post } %>
  <% end %>
</div>

<%
=begin %>
<% content_for :right_sidebar do %>
  <div id="new_members" class="shadow_box">
    <h2>New Members</h2>
    <% @new_members.each do | user | %>
      <div class="clearfix">
        <%= link_to profile_user_url(user, :alt => user.first_and_last_name) do %><%= render_profile_photo( user, "64x64" ) %><% end %>
        <%= link_to user.first_and_last_name, profile_user_url(user) %><br />
        <%= raw "#{user.location}<br />" if user.city.present? && user.state.present? %>
      </div>
    <% end %>
  </div>
<% end %>
<%
=end%>

<%= render :partial => "shared/likes_hide" %>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(document).ready(function(){
  
      Groovesy.MakeColorbox();

      var $container = $('#posts_container');
      $container.imagesLoaded( function(){
        $container.isotope({
          itemSelector : '.post',
          transformsEnabled: false
        });
      });
    });

    <% @posts.each do | post | %>
    var current_comments_page_<%= post.id %> = 0;
    <% end %>
  </script>
<% end %>