<h1>Groovesy Privacy Policy</h1>
<!-- START PRIVACY POLICY CODE -->
<div style="font-family: Tahoma"><strong>What information do we collect?</strong> <br/><br/>We collect information from
  you when you register on our site or fill out a form. <br/><br/>When ordering or registering on our site, as
  appropriate, you may be asked to enter your: name, e-mail address or mailing address. You may, however, visit our site
  anonymously.<br/><br/>Google, as a third party vendor, uses cookies to serve ads on your site.
  Google's use of the DART cookie enables it to serve ads to your users based on their visit to your sites and other
  sites on the Internet.
  Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy
  policy..<br/><br/><strong>What do we use your information for?</strong> <br/><br/>Any of the information we collect
  from you may be used in one of the following ways: <br/><br/>

  <ol>
    <li>To personalize your experience<br/>(your information helps us to better respond to your individual needs)</li>

    <li>To improve our website<br/>(we continually strive to improve our website offerings based on the information and feedback we receive from you)</li>

    <li>To improve customer service<br/>(your information helps us to more effectively respond to your customer service requests and
  support needs)</li>

    <li>To process transactions<br/>
      Your information, whether public or private, will not be sold, exchanged, transferred, or given to any
    other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the
    purchased product or service requested.</li>

    <li>To administer a contest, promotion, survey or other site feature</li>

    <li>To send periodic emails<br/>
    The email address you provide for order processing, may be used to send you information and updates
      pertaining to your order, in addition to receiving occasional company news, updates, related product or service
      information, etc.</li>
  </ol>
  Note: If at any time you would like to unsubscribe from receiving future emails, we include detailed unsubscribe
  instructions at the bottom of each email.<br/><br/><br/><strong>Do we use cookies?</strong> <br/><br/>Yes (Cookies are
  small files that a site or its service provider transfers to your computers hard drive through your Web browser (if
  you allow) that enables the sites or service providers systems to recognize your browser and capture and remember
  certain information<br/><br/> We use cookies to understand and save your preferences for future visits, keep track of
  advertisements and compile aggregate data about site traffic and site interaction so that we can offer better site
  experiences and tools in the future.<br/><br/><strong>Do we disclose any information to outside parties?</strong>
  <br/><br/>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information.
  This does not include trusted third parties who assist us in operating our website, conducting our business, or
  servicing you, so long as those parties agree to keep this information confidential. We may also release your
  information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours
  or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to
  other parties for marketing, advertising, or other uses.<br/><br/><strong>Third party links</strong> <br/><br/>
  Occasionally, at our discretion, we may include or offer third party products or services on our website. These third
  party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the
  content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome
  any feedback about these sites.<br/><br/><strong>California Online Privacy Protection Act
  Compliance</strong><br/><br/>Because we value your privacy we have taken the necessary precautions to be in compliance
  with the California Online Privacy Protection Act. We therefore will not distribute your personal information to
  outside parties without your consent.<br/><br/>As part of the California Online Privacy Protection Act, all users of
  our site may make any changes to their information at anytime by logging into their control panel and going to the
  'Profile' page.<br/><br/><strong>Childrens Online Privacy Protection Act Compliance</strong> <br/><br/>We are in
  compliance with the requirements of COPPA (Childrens Online Privacy Protection Act), we do not collect any information
  from anyone under 13 years of age. Our website, products and services are all directed to people who are at least 13
  years old or older.<br/><br/><strong>Your Consent</strong> <br/><br/>By using our site, you consent to our
  <a style='text-decoration:none; color:#3C3C3C;' href='http://www.freeprivacypolicy.com/' target='_blank'>privacy
    policy</a>.<br/><br/><strong>Changes to our Privacy Policy</strong> <br/><br/>If we decide to change our privacy
  policy, we will post those changes on this page, and/or update the Privacy Policy modification date below. <br/><br/>This
  policy was last modified on 01/19/2013<br/><br/><strong>Contacting Us</strong> <br/><br/>If there are any questions
  regarding this privacy policy you may contact us using the information below. <br/><br/>1815 Westview Terrace Apt
  K<br/>Arlington, TX 76013<br/>United States<br/>groovesymusic@gmail.com</div>
  <!-- END PRIVACY POLICY CODE -->