<% if !session[:user_id].blank? %>
  <div id="corner_nav" class="hide-for-touch">
    <%= link_to "My Profile", profile_user_url(@user) %> |
    <%= link_to "Logout", login_path( session[ :user_id ] ), :method => :delete %>
  </div>
<% end %>