<head>
  <title><%= yield :title %></title>
  <meta name="description" content="<%= yield :description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />

  <%= render :partial => "shared/site_meta" %>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application' %>
  <%= yield :stylesheets %>
  <%= csrf_meta_tag %>
  <link rel="shortcut icon" href="http://www.groovesy.com/favicon.ico">
</head>