<% if !session[:user_id].blank? %>

  <div class="row" style="background-color: #333; border-top: 1px solid #444; margin-bottom: 10px;">
    <div class="nine columns centered">

      <div class="contain-to-grid">
        <nav class="top-bar">
          <ul>
            <li class="name"><a href="/">Home</a></li>
            <li class="toggle-topbar"><a href="#"></a></li>
          </ul>

          <section>
            <ul class="left">
              <li class="divider"></li>

              <li class="has-dropdown">
                <%= link_to "Walls", wall_index_url(), :id => "walls_tab", :class => (@active_tab == "walls" ? "active" : "") %>

                <ul class="dropdown">
                  <li><%= link_to "Posts to My Wall", wall_index_url() %></li>
                  <li><%= link_to "My Friends' Posts", friends_wall_index_url() %></li>
                  <li><%= link_to "My Likes", my_likes_wall_index_url() %></li>
                  <li><%= link_to "Custom Walls", my_walls_wall_index_url() %></li>
                </ul>
              </li>

              <li class="divider"></li>

              <li><%= link_to "Streams", streams_url(), :id => "streams_tab", :class => (@active_tab == "streams" ? "active" : "") %></li>

              <li class="divider"></li>

              <li><%= link_to raw( "Friends#{render_new_fr_count(@user)}" ), friends_url(), :id => "friends_tab", :class => (@active_tab == "friends" ? "active" : "") %></li>

              <li class="divider"></li>

              <li><%= link_to raw( "Notifications#{render_notification_count(@user)}" ), ajax_load_notifications_url, :remote => true, :id => "notifications_tab", :class => (@active_tab == "notifications" ? "active" : "") %></li>

              <div class="show-for-touch">
                <li class="divider"></li>

                <li><%= link_to "My Profile", profile_user_url(@user) %></li>

                <li class="divider"></li>

                <li><%= link_to "Logout", login_path( session[ :user_id ] ), :method => :delete %></li>
              </div>

              <li class="divider hide-for-small"></li>
            </ul>
          </section>
        </nav>
      </div>

    </div>
  </div>
<% end %>