<meta property="og:url" content="<%= "http://#{request.host}#{request.fullpath}" %>" />
<meta property="og:site_name" content="Groovesy.com" />
<meta property="fb:admins" content="514751105" />
<meta property="fb:app_id" content="301114093284321" />

<% if @wall_post.api_provider == "Unknown" %>
  <meta property="og:type" content="website" />
  <meta property="og:description" content="<%= strip_returns(@wall_post.post_text) %>" />
  <meta property="og:image" content="http://www.groovesy.com/images/logo.jpg" />
  <meta property="og:title" content="A post on Groovesy.com" />
  <title>A post on Groovesy.com</title>
  <meta name="description" content="<%= strip_returns(@wall_post.post_text) %>">
<% elsif @wall_post.api_provider == "Image" %>
  <meta property="og:type" content="website" />
  <meta property="og:image" content="<%= @wall_post.thumbnail_url %>" />
  <meta property="og:title" content="A photo on Groovesy.com" />
  <title>A photo on Groovesy.com</title>
  <meta name="description" content="<%= strip_returns(@wall_post.post_text) %>">
  <meta property="og:description" content="<%= strip_returns(@wall_post.post_text) %>" />
<% else %>
  <meta property="og:type" content="video.movie" />
  <meta property="og:video:height" content="360" />
  <meta property="og:video:width" content="420" />
  <meta property="og:video:type" content="application/x-shockwave-flash" />
  <meta property="og:video" content="<%= @player_url %>" />

  <title>Listen for free - <%= @wall_post.meta_title %></title>
  <meta name="description" content="<%= strip_returns(@wall_post.description) %>">
  <meta property="og:title" content="<%= @wall_post.meta_title %>" />
  <meta property="og:description" content="<%= strip_returns(@wall_post.description) %>" />
  <meta property="og:image" content="<%= @wall_post.thumbnail_url %>" />
<% end %>