<title><%= yield :title %></title>
<meta name="description" content="<%= yield :description %>">

<meta property="og:url" content="<%= view_wall_url(@wall.slug) %>" />
<meta property="og:site_name" content="Groovesy.com" />
<meta property="fb:admins" content="514751105" />
<meta property="fb:app_id" content="301114093284321" />
<meta property="og:title" content="<%= Constants::SiteName %> - Wall - <%= @wall.name %>" />
<meta property="og:type" content="website" />
<meta property="og:description" content="<%= yield :description %>" />
<meta property="og:image" content="http://www.groovesy.com/images/logo.jpg" />