<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->

<html>

<%= render :partial => "layouts/head" %>

<body data-type="normal">

  <%= render :partial => "shared/fb_like_code" %>
  <%= render :partial => "layouts/corner_nav" %>
  <%= render :partial => "layouts/popup_placeholders" %>
  <%= render :partial => "shared/header" %>

  <div class="row">
    <div class="twelve columns centered">
      <%= yield %>
    </div>
  </div>

  <%= render :partial => "shared/footer" %>
  <%= render :partial => "shared/javascripts" %>
  <%= render :partial => "shared/google_analytics" %>
</body>
</html>