<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<html>
<head>
  <title><%= yield :title %></title>
  <meta name="description" content="<%= yield :description %>">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <meta property="og:title" content="All the best tracks" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Groovesy lets you discover and share the best tracks." />
  <meta property="og:url" content="http://www.groovesy.com" />
  <meta property="og:image" content="http://www.groovesy.com/images/logo.jpg" />
  <meta property="og:site_name" content="Groovesy.com" />
  <meta property="fb:admins" content="514751105" />
  <meta property="fb:app_id" content="301114093284321" />

  <%= stylesheet_link_tag 'application' %>

  <%= csrf_meta_tag %>
  <link rel="shortcut icon" href="http://www.groovesy.com/favicon.ico">
</head>
<body data-type="normal">
<%= render :partial => "shared/fb_like_code" %>

<div id="page" class="clearfix" style="text-align: center; margin-top: 200px;">
  <div><%= link_to image_tag("facebook_app_image.jpg"), "javascript: void(0);", :onclick => "window.top.location.href='http://www.groovesy.com';" %></div>
  <%= yield %>
</div>

<%= javascript_include_tag 'application' %>

<script type="text/javascript">
$(document).ready(function(){
  Groovesy.DeleteFBAppRequest();
});
</script>

<%= render :partial => "shared/google_analytics" %>

</body>
</html>