<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->

<%= render :partial => "layouts/head" %>

<body data-type="isotope">
  <%= render :partial => "shared/fb_like_code" %>
  <%= render :partial => "layouts/corner_nav" %>
  <%= render :partial => "layouts/popup_placeholders" %>

  <div id="wrap">
    <div id="main">
      <%= render :partial => "shared/header" %>

      <div id="fullpage" style="float: left; width: 70%;" class="clearfix">
        <%= yield %>
      </div>

      <div id="right_sidebar">
        <%= yield :right_sidebar %>
      </div>
    </div>
  </div>

  <%= render :partial => "shared/footer" %>

  <% content_for :javascripts_after_jquery do %>
    <script type="text/javascript">
      $(document).ready(function(){
        Groovesy.MakeColorbox();

        var $container = $('#posts_container');
        $container.imagesLoaded( function(){
          $container.isotope({
            itemSelector : ".post",
            transformsEnabled: false
          });
        });
      });
    </script>
  <% end %>

  <%= render :partial => "shared/javascripts" %>
  <%= render :partial => "shared/google_analytics" %>

</body>
</html>