<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <%= render :partial => "layouts/post_meta" if !@wall_post.nil? %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application' %>
  <%= yield :stylesheets %>
  <%= csrf_meta_tag %>
  <link rel="shortcut icon" href="http://www.groovesy.com/favicon.ico">
</head>
<body data-type="normal">

<%= render :partial => "layouts/corner_nav" %>
<%= render :partial => "shared/fb_like_code" %>
<%= render :partial => "layouts/popup_placeholders" %>
<%= render :partial => "shared/header" %>

<div class="row">
  <div class="ten columns centered">
    <%= yield %>
  </div>
</div>

<%= render :partial => "shared/footer" %>
<%= render :partial => "shared/javascripts" %>
<%= render :partial => "shared/google_analytics" %>

</body>
</html>