<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->

<head>
  <%= render :partial => "layouts/wall_meta" %>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <%= stylesheet_link_tag 'application' %>
  <%= yield :stylesheets %>
  <%= csrf_meta_tag %>
  <link rel="shortcut icon" href="http://www.groovesy.com/favicon.ico">
</head>

<body data-type="isotope">
  <%= render :partial => "shared/fb_like_code" %>
  <%= render :partial => "layouts/corner_nav" %>
  <%= render :partial => "layouts/popup_placeholders" %>
  <%= render :partial => "shared/header" %>

  <div class="row">
    <div class="eight columns">
      <%= yield %>
    </div>

    <div class="four columns">
      <%= yield :right_sidebar %>
    </div>
  </div>

  <%= render :partial => "shared/footer" %>

  <% content_for :javascripts_after_jquery do %>
    <script type="text/javascript">
      $(document).ready(function(){
        Groovesy.MakeColorbox();

        var $container = $('#posts_container');
        $container.imagesLoaded( function(){
          $container.isotope({
            itemSelector : ".post",
            transformsEnabled: false
          });
        });
      });
    </script>
  <% end %>

  <%= render :partial => "shared/javascripts" %>
  <%= render :partial => "shared/google_analytics" %>

</body>
</html>